<style type="text/css">

</style>
<div class="navbar" ng-controller="navbarCtrl">
	<div class="badge">
		<div class="logo-wrapper">
			<img class="logo" src="img/logo.svg">
		</div>
		<div class="badge-label">
			<h1>ALEX<span style="font-weight: 600;">&nbspELARBEE</span> </h1>
			<h2>FULL STACK WEB DEVELOPER</h2>
			<i class="fa fa-envelope"></i><a href="mailto:alex@elarbee.io">alex@elarbee.io</a>
			<i class="fa fa-github"></i><a href="https://github.com/elarbee">github.com/elarbee</a>
		</div>
	</div>
<div>
